<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlhcsinh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLHọcSinh"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity_AddThongBao"></activity>
        <activity android:name=".MainActivity_Sua_Diem" />
        <activity android:name=".MainActivity_DiemHocTap" />
        <activity android:name=".MainActivity_setTKB" />
        <activity android:name=".MainActivity_DetailtHocSinh" />
        <activity android:name=".MainActivity_AddHs" />
        <activity android:name=".MainActivity_Info_HocSinh" />
        <activity android:name=".MainActivity_Tao_TK" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>